
<p>
    Вам задано два рядки, і ви повинні знайти індекс другого входження другого рядка у першому.
</p>

<p style="text-align: justify;">
	Розглянемо перший приклад, де потрібно знайти друге входження літери "s" у слові "sims". Його перше входження легко знайти за допомогою функції
{% if is_js %}<a target="_blank" href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String/indexOf">indexOf</a>{% else %}<a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#str.index">index</a> або <a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#str.find">find</a>{% endif %}, яка покаже, що "s" є першим символом у слові "sims", а отже, індекс першого входження дорівнює 0. Але нам потрібно знайти другу "s", яка є 4-ю за рахунком, а це означає, що індекс другого входження (і відповідь на питання) дорівнює 3. 
  </p>

<p>
   <strong>Вхідні дані:</strong> Два рядки <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span> або <span>{% if is_js %}null{% else %}None{% endif %}</span>.
</p>



<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

