<p>
   Дано два рядка, ти повинен знайти індекс другого входження другого рядка в першому рядку.
</p>

<p>
  Давай розглянемо перший приклад, де тобі потрібно знайти друге входження "s" у слові "sims". Легко знайти його перше виникнення за допомогою функції
{% if interpreter.slug == "js-node" %}

	<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String/indexOf">indexOf</a>

{% else %}

	<a href="https://docs.python.org/3/library/stdtypes.html#str.index">index</a> or <a href="https://docs.python.org/3/library/stdtypes.html#str.find">find</a> 

{% endif %}

	яка вкаже що "s" є першим символом в слові "sims" і його індекс "0". Але нам потрібно знайти другу "s", яка є четвертою в рядку і це означає що індекс другого входження "3" (і це відповідь до задачі).
</p>

<p>
    <strong>Вхідні дані: </strong> Два рядка.
</p>

<p>
    <strong>Вихідні дані: </strong> Ціле число або {% if interpreter.slug == "js-node" %}undefined{% else %}None{% endif %}
</p>



<div class="for_info_only">
    <p>
        <strong>Приклад:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
