
<p>
    On vous donne deux chaînes de caractères et vous devez trouver un index de la deuxième occurrence de la deuxième chaîne dans la première.
</p>

<p style="text-align: justify;">
	Examinons le premier exemple, dans lequel vous devez trouver la deuxième occurrence de "s" dans le mot "sims". Il est facile de trouver sa première occurrence à l'aide d'une fonction
{% if is_js %}<a target="_blank" href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String/indexOf">indexOf</a>{% else %}<a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#str.index">index</a> ou  qui vous indiquera que "s" est le premier symbole du mot "sims" et que l'indice de la première occurrence est donc 0. Mais nous devons trouver le deuxième "s" qui est le quatrième d'une rangée, ce qui signifie que l'indice de la deuxième occurrence (et la réponse à une question) est 3. 
 <a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#str.find">find</a>{% endif %} </p>

<p>
   <strong>Entrée:</strong> Deux chaînes de caractères <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span> ou <span>{% if is_js %}null{% else %}None{% endif %}</span>.
</p>



<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

