
<p>
    Otrzymuje Pan dwa ciągi i musi Pan znaleźć indeks drugiego wystąpienia drugiego ciągu w pierwszym.
</p>

<p style="text-align: justify;">
	Przeanalizujmy pierwszy przykład, w którym trzeba znaleźć drugie wystąpienie litery "s" w słowie "sims". Łatwo jest znaleźć jego pierwsze wystąpienie za pomocą funkcji
{% if is_js %}<a target="_blank" href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String/indexOf">indexOf</a>{% else %}<a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#str.index">index</a> lub  , która wskaże, że "s" jest pierwszym symbolem w słowie "sims", a zatem indeks pierwszego wystąpienia wynosi 0. Ale musimy znaleźć drugie "s", które jest czwarte z rzędu, a to oznacza, że indeks drugiego wystąpienia (i odpowiedź na pytanie) wynosi 3. 
 <a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#str.find">find</a>{% endif %} </p>

<p>
   <strong>Dane wejściowe:</strong> Dwa ciągi znaków <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span> lub <span>{% if is_js %}null{% else %}None{% endif %}</span>.
</p>



<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

